useDynLib(rchime, .registration=TRUE)

#general
import(cli)
import(strollur)

# c++ code
import(RcppThread)
importFrom(Rcpp, evalCpp)

# paralellized code
importFrom(parallelly, availableCores)

exportPattern("^[[:alpha:]]+")
